main{
  background: url("img/fundo.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}
header{
  background-color: #24252a;
}
.nav-bar{
  display:flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}
.logo{
  display: flex;
  align-items:center;
}
.logo h1{
  color: white;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-item{
  margin: 0 15px;
}
.nav-link{
  text-decoration: none;
  font-size: 1.15rem;
  color: white;
  font-weight: 400;
}
.mobile-menu-icon{
  display: none;
}
.mobile-menu{
  display: none;
}

/* Formulario */
.conteiner-form{
 position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);
} 
.formulario .titulo{
  color:#757575; 
  text-align:center;
  font-size: 30px;
  margin-bottom:10px;
  padding-bottom:10px;
}
.formulario{
  max-width: 500px;
  margin:auto;
  background:white;
  overflow: hidden;
  padding: 20px;
}

:focus{outline:none;}
/*estilização das labels*/
.label{
  float:left;
  width: 100%;
  margin-bottom:25px;
  position:relative;
}
/*bordas*/
.input-bordas{
  font: 15px/24px "Lato", Arial,sans-serif;
  color:#333;
  width:100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  padding:7px 14px 9px;
  transition:0,4s; 
}

.textarea { resize:none!important; }
/*Efeitos para as bordas*/
.input-bordas ~ .focus-border:before,
.input-bordas ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #E066FF; transition: 0.2s; transition-delay: 0.2s;}
.input-bordas ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.input-bordas ~ .focus-border i:before,
.input-bordas ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #E066FF; transition: 0.2s;}
.input-bordas ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.input-bordas:focus ~ .focus-border:before,
.input-bordas:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.input-bordas:focus ~ .focus-border:after{transition-delay: 0.2s;}
.input-bordas:focus ~ .focus-border i:before,
.input-bordas:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.input-bordas:focus ~ .focus-border i:after{transition-delay: 0.4s;}
/*botao*/
.button-form{
  background-color:#EE00EE  ;
  padding:0.5em 1.3em;
  color: black;
  font-size: 1.2em;
  border:none;
  cursor: pointer;
}
/*efeito do botao*/
.borda-inversa{
  display: inline-block;
  vertical-align:middle;
  -webkit-transform:translateZ(0);
  transform:translate(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration:0.5s;
  -webkit-transition-property:background;
  transition-property:background;
  box-shadow:inset 0 0 0 2px #FF00FF, 0 0 1px rgba(0, 0, 0, 0);
}

.borda-inversa:hover, .borda-inversa:focus, .borda-inversa:active{
  background:none;
  color:#FF00FF;
}

@media  screen and (max-width:730px) {
  .nav-bar{
    padding: 1.5rem 4rem;
  }
  .nav-item{
    display: none;
  }
  .mobile-menu-icon{
    display: block;
  }
  .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
  }
  .open{
    display:block;

  }
}

